# vscode config
.vscode

# Grav
vendor/*
!*/vendor/*

backup/*
!backup/.*
cache/*
!cache/.*
assets/*
!assets/.*
logs/*
!logs/.*
images/*
!images/.*
user/accounts/*
!user/accounts/.*
user/data/*
!user/data/.*
user/plugins/*
!user/plugins/.*
user/themes/*
!user/themes/.*
user/localhost/config/security.yaml
user/config/security.yaml

# OS
.DS_Store
ehthumbs.db
Icon?
Thumbs.db
*.swp